.idea
.env
MAIN_APP/__pycache__/settings.cpython-38.pyc
api/__pycache__/v1_urls.cpython-38.pyc
configs/__pycache__/jwt_config.cpython-38.pyc
configs/__pycache__/rest_config.cpython-38.pyc
apps/notes/__pycache__/
apps/notes/migrations/__pycache__/
apps/lists/__init__.py
apps/lists/__pycache__/
apps/lists/migrations/__pycache__/0002_initial.cpython-38.pyc

__pycache__



# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
